<launch>
  
    <arg name="user_debug" default="true"/>
    <arg name="UnitreeGripperYN" default="true"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find aliengoZ1_description)/xacro/robot.xacro'
            DEBUG:=$(arg user_debug) UnitreeGripper:=$(arg UnitreeGripperYN)"/>

    <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
        args="-d $(find aliengo_description)/launch/check_joint.rviz"/>

</launch>
